body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:white;
    font-family: sans-serif;
}
h2 {
    font-size: 21px;
    margin-top: 0;
}
#sidebar a {
    color: black;
    text-decoration: none;
}
#wrap {
    width:750px;
    margin:0 auto;
}
#header {
    background:#ddd;
    display: none;
}
#sidebar {
    float:left;
    width:188px;
    background:white;
    position: fixed;
}
#main {
    float:right;
    width:560px;
    background: white;
    padding-top: 30px;
}
#footer {
    clear:both;
    background:#cc9;
}
