body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:white;
    font-family: sans-serif;
}
h2 {
    font-size: 21px;
    margin-top: 0;
}
a:link, a:visited { color: #356a96; }
a:hover { color: #133755; }

#wrap {
    width:750px;
    margin:0 auto;
}
#header {
    background:#ddd;
    display: none;
}
#sidebar {
    width: 100%;
    height: 60px;
    background:white;
    position: fixed;
    text-align: center;
}
#main {
    width:800px;
    background: white;
    padding-top: 60px;
}
#footer {
    clear:both;
    background:#cc9;
}
.right {
    text-align: right;
}
.nav li {
    color: #fff;
    display: inline;
    padding-right: 15px;
    display: table-cell; 
    vertical-align: middle;
}
.nav a {
    text-decoration: none;
}
